/* Define light and dark theme colors */
.theme-light {
    --background-color: #ffffff;
    --text-color: #000000;
    --header-background: #f1f1f1;
    --button-background: #007bff;
    --button-hover-background: #0056b3;
    --input-background: #f0f0f0;
  }
  
  .theme-dark {
    --background-color: #1a1a1a;
    --text-color: #ffffff;
    --header-background: #333333;
    --button-background: #007bff;
    --button-hover-background: #0056b3;
    --input-background: #333333;
  }
  
  html, body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  
  /* Global Styles */
  .location-finder-container {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    background-color: var(--background-color);
  }
  
  .layout-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    flex-grow: 1;
  }
  
  .main-content {
    display: flex;
    justify-content: center;
    padding: 20px 160px;
    flex-grow: 1;
  }
  
  .content-container {
    display: flex;
    flex-direction: column;
    max-width: 960px;
    width: 100%;
  }
  
  .header {
    background-color: var(--header-background);
    color: var(--text-color);
    padding: 20px;
    text-align: center;
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  
  .header-title {
    font-size: 2.5rem;
    font-weight: bold;
  }
  
  .search-section {
    margin-top: 20px;
    text-align: center;
  }
  
  .location-search-input {
    padding: 10px;
    width: 100%;
    background-color: var(--input-background);
    border: 1px solid #ccc;
    color: var(--text-color);
    font-size: 1rem;
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  
  /* Nearby Stores Section */
  .stores-section {
    margin-top: 20px;
  }
  
  .stores-title {
    font-size: 1.5rem;
    color: var(--text-color);
  }
  
  .store-item {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
  }
  
  .store-name {
    font-size: 1.2rem;
  }
  
  .store-distance {
    font-size: 1rem;
    color: gray;
  }
  
  .store-direction {
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
  }
  
  /* Map Section */
  .map-container {
    margin-top: 20px;
    width: 100%;
    height: 300px;
  }
  
  /* Button Styles */
  .get-started-button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    background-color: var(--button-background);
    color: var(--text-color);
    border: none;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .get-started-button:hover {
    background-color: var(--button-hover-background);
  }
  