.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 40px;
    border-bottom: 1px solid #292929;
    color: #FFFFFF;
  }
  
  .logo-container {
    display: flex;
    align-items: center;
    gap: 16px;
  }
  
  .logo {
    width: 32px;
  }
  
  .logo-text {
    font-size: 1.125rem;
    font-weight: bold;
    letter-spacing: -0.015em;
  }
  
  .nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: 1;
  }
  
  .nav-links {
    display: flex;
    align-items: center;
    gap: 36px;
  }
  
  .nav-link {
    color: #FFFFFF;
    font-size: 0.875rem;
    font-weight: 500;
    text-decoration: none;
  }
  
  .login-button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 16px;
    height: 40px;
    background-color: #EA2831;
    color: #FFFFFF;
    font-size: 0.875rem;
    font-weight: bold;
    border-radius: 16px;
    cursor: pointer;
  }